.Home{
    background-image: url("./../../../Assets/img/car-is-driving-road-night-forest\ 1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

