.darkFooter {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;

  background-color: #e8e8e8 !important  ;

  div a {
    color: #000;

    
    @media only screen and (min-width: 320px) and (max-width: 425px) {
      font-size: 10px;
      // text-align: center;
    }
  }
}

.whiteFooter {
  position: fixed;
  bottom: 70px;

  div a {
    color: #fff;

    
    @media only screen and (min-width: 320px) and (max-width: 425px) {
      font-size: 10px;
      // text-align: center;
    }
  }
}


.copyright{

  @media only screen and (min-width: 320px) and (max-width: 425px) {
    font-size: 10px;
    // text-align: center;
  }

}