.logo-style {
  color: #fff;
  font-size: 34px;
  font-weight: 700;
  // font-family: 'Dancing Script', cursive;
  // font-family: "Caveat", cursive;
  font-family: "Dancing Script", cursive;
  // font-family: 'Great Vibes', cursive ;

  // font-family: "Sacramento", cursive;
}

.link-style {
  
}

.active {
  background: rgba(255, 255, 255, 0.05);
  padding: 5px 20px;
  color: #fff;
  border-radius: 5px;
}
